{% extends "layout.html" %}

{% block content %}

<h3>Hakkımızda</h3>
<hr>

Yazılım Bilimi, Mustafa Murat Coşkun tarafından Türkiyede programlama eğitimleriyle
 ilgili türkçe kaynak sıkıntısını giderebilmek amacıyla 10 Nisan 2015 yılında 
Orta Doğu Teknik Üniversitesinde yayın hayatına başlamıştır. Kanalda, programlama
eğitimleri (Java, Python, JavaScript) ve modern yazılım geliştirme ile ilgili eğitimler
 yer almaktadır. Kanalın reklam gelirleri Ağustos 2023'ten itibaren kar amacı gütmeyen
  kurumlara bağışlanmaktadır. 

Bağış Yaptığımız Kurumlar
LÖSEV 
AKUT
TEGV
TEMA
<hr>

{% endblock %}
