{% extends "layout.html" %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Yazılım Bilimi Bloguna Hoşgeldiniz</h1>
    <p class="lead">Bu blogta geliştiriciler olarak blog yazılarınızı paylaşabilirsiniz ve insanlara yardımcı olabilirsiniz.</p>
</div>

<p>

    {% if request.user.is_authenticated %}
            Giriş Yapılmış,{{request.user.username}}

    {% else %}
            

            Giriş Yapılmamış
    {% endif %}



</p>
{% endblock %}
